
@charset "utf-8";
/* CSS Document */

/* *********************** GENERAL SETTINGS     *********************** */
body {
	font-family: verdana,Tahoma, Arial, Helvetica, sans-serif;
	color: #1f1f1f;
	background: #5d5d5d;
	font-size:12px;
}

html {
	overflow: scroll;
	padding: 0px;
	margin: 0px;
}

.ClearLeft{
	clear: left;
}

/* CSS global reset for all browsers */ 
* { padding: 0px; margin: 0px; }

a {color: #1f1f1f; text-decoration: none;}
a:hover {color: #b00000; text-decoration: underline;}
a.image, a.image:hover, a img  {border:0;}
ul ,li{
	list-style: none;
}
.menu li {
	padding: 2px 0px 2px 13px;
	line-height: 20px;
	
}

#main_content ul li, #main_content2 ul li {
	width: 100%;
}
	
ol {
	padding: 5px 25px;
}

fieldset {
	width: 95%;
	padding: 5px;
	border: 1px solid #eeeeee;
}
.both {
	clear: both;
}

input, select, label {
	vertical-align: middle;
}

p {
	padding: 5px 0px;
}

/*layout**/
#Wrapper {
	margin:0 auto;
	width:1000px;
	background:white;
}

.UINavigation {
	background:url(images/bgNavi.png) no-repeat left top;
	padding-left: 6px;

}


.UINavigation .NaviR {
	background:url(images/bgNavi.png) no-repeat right  top;
	padding-right: 6px;
}


.UINavigation  .NaviM{	
	height: 44px;
	background:url(images/bgNavi.png) repeat-x left -44px;
}

.UINavigation  ul li {
	float:left;
	padding:0 15px;
	display:block;
	background:url(images/linespace.png) no-repeat right center;
	position:relative;
	margin-top:4px;
}


.UINavigation  ul li  a {
	color:#fff;
	font-weight:bold;
	text-transform:capitalize;
	font-size: 12px;
	display:block;	
	padding:5px;	
	line-height:18px;
	margin-top:4px;
}

.UINavigation  ul li#current  a ,.UINavigation  ul li  a:hover,.UINavigation  ul li.active  a  {
	background:#e6e9ef;
	color:#7c011d;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.UINavigation  ul li  a span {
	display:block;
	padding:0  10px 0 0;
} 
.UINavigation  ul li#current  a span ,.UINavigation  ul li.active  a span ,.UINavigation  ul li  a:hover span{
	display:block;
	background:#e6e9ef;
	padding:0  10px 0 0;
}

/*level 2*/
.UINavigation  ul li ul {
	position:absolute;
	z-index:99;
	top:40px;
	left:0;
	width: 150%;
	background:#A50328;
	display:none;
	
}  
.UINavigation  ul li:hover > ul{display:block;}
.UINavigation ul li  ul li {
	float:left;
	padding:0;
	display:block;
	background:none;
	width:100%;
}

.UINavigation ul li  ul li:hover, .UINavigation ul li  ul li#current {
	background:#B7C0D1;
}
.UINavigation  ul li ul li  a {
	color:#fff;
	font-weight:bold;
	text-transform:capitalize;
	font-size: 12px;
	display:block;	
	padding:2px 5px 2px 18px;
	line-height:18px;
}
.UINavigation  ul li#current ul  li  a,.UINavigation ul li  ul li#current  a  ,.UINavigation  ul li.active ul li a ,.UINavigation ul ul li  a:hover {
	background:none;
	color:#fff;
}

.UINavigation ul  ul li  a span {
	display:block;
	padding: 0px 10px 0px 0px;
} 

.UINavigation ul li#current li  a span,.UINavigation ul li ul li#current  a span ,.UINavigation ul  ul li  a:hover span,.UINavigation  ul li.active ul li  a span {
	display:block;
	padding:0  10px 0 0;
}
/*level 2*/
.UINavigation  ul li ul li ul {
	position:absolute;
	z-index:99;
	top:0px;
	left:100%;
	width: 100%;
	display:none;
	
}  
.UINavigation  ul li ul li:hover ul {
	display:block;
}

.Boxs .sub-menu{
	border: solid 1px #DEDEDE;
}


/*end update*/
.UINavigation ul li  a:hover {
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #FFF;
}

.UINavigation ul div ul li  a:hover {
	text-decoration:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background: #FFF;
	color: #7C011D;
}

.UINavigation ul div ul li ul li  a:hover {
	text-decoration:none;
	color: #7C011D;
	background: #E6E9EF;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
/*module search*/

.UISearch {
	float:right;
	padding: 5px 0 0 0;
	*padding:0;
	line-height:18px;
	margin-top: 5px;
	*margin-top: 8px;
	*padding-top: 3px;
	width: 196px;
}

.UISearch .textfield {
	background:url(images/bgsearch.png) no-repeat left top;
	width:163px;
	height:25px;
	border:0;
	padding: 0 0 0 5px;
	float: right;
}

.UISearch #searchsubmit{
	background:url(images/btnSearch.png) no-repeat left top;
	border:none;
	float:right;
	text-indent:-9999999px;
	width:23px;
	height:25px;
	cursor:pointer;
	float: right;
}

.readmore{
	color: #DEDEDE;
}
/*end updatetrung*/
/*breadcumb*/

#pathway {
	padding: 5px;
}

/**/
#UIHeader{
	height:240px;
	width:100%;
}
#UIContent {
	padding: 0 6px;
	overflow:hidden;
}
.navboxwrapleft {
	float:left;
	width:215px;
	margin-right: 5px;
}

.UIMain {
	margin: 0 200px 0 223px;
}
.navboxwrapright {
	float:right;
	width:193px;
}

.moduletable_menu h3, .Boxs h5{
	-moz-border-radius:3px 3px 3px 3px;
	-webkit-border-radius:3px 3px 3px 3px;
	border-radius:3px 3px 3px 3px;
	background: url(images/bgTitle.png) repeat-x left top transparent;
	border:1px solid #dedede;
	color:#8E000B;
	height:28px;
	line-height:28px;
	margin:2px;
	padding: 0 0 0 10px;
	font-size:14px;
	text-transform: capitalize;
	text-align: left;
}

.Boxs  {
 float:left;
 width:100%;
 
}

.moduletable_menu ul.menu,.bannergroup_menu,.OnlineMiddle,.BGM{
 float:left;
 width:100%;
}
.BGM1 {
	padding-left:10px;
}
.bannergroup_menu {text-align:center;padding-bottom:10px;}
.moduletable_menu, .moduletable_menu1,.Boxs > ul ,.MainCotent{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	float:left;
	width:100%;
	border:1px solid #dedede;
	margin: 0 0 8px 0;
	padding-bottom:5px;
}
.Boxs > ul > div ,.moduletable_menu1,.MainCotent{	
 background: url(images/BgNaviLeft.png) repeat-x left 0px;
}
 .moduletable_menu1  { margin:10px 0; }
 .BGmiddle {padding:10px;}
 
.listCategory li {
	float:left;
	width:47%;
	height:100px;
	margin: 5px;
}
.listCategory .thumb img {
	width:110px;
	height:90px;
	float:left;
	margin-right:10px;
	border:1px solid #ececec;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.moduletable_menu ul  li a,.blogsection , .Boxs > ul  li a, .relative li a{
	background: url(images/listIcon.png) no-repeat left 10px;
	padding-left:10px;
	display:block;
	clear:both;
	color:#000;
	text-transform: capitalize;
	line-height: 20px;
}

.menu li {
	position:relative;
}
.menu li.parent  {
	 background: url(images/arrow.png) no-repeat 95% center;
	 
}
.menu #current a {
	color:#B00000;
}
.menu  #current a a {
	color:#000;
}
.menu ul {
	position:absolute;
	left:100%;
	top:0;
	display:none;
	z-index:99;
	width:100%;
}
.menu   ul {
	background:#fff;
}
.menu li:hover ul {
	display:block;
}

.UIBreadcumb {
	padding: 10px 10px 10px 30px;
	background: url(images/IconHome.png) no-repeat 10px center;
	text-transform: capitalize;
}

.slideshow {
	float:left;
	width:100%;
}
/*category*/
.moduletablecategory,.blog .BgT ,.blog_more{
	margin:0 0 10px 0;
	width:566px;
	overflow:hidden;
	 background: url(images/bgBox.png) no-repeat top left;
	
}
.moduletablecategory .BGTop ,.blog .BGTop  {
	overflow:hidden;
	 background: url(images/bgBoxBottom.png) no-repeat bottom left;
	 padding-bottom:5px;
}
.moduletablecategory .BGBottom ,.blog .BGBottom {
	border:1px solid #dedede;
	border-top:0px solid red;
	border-bottom:0px solid red;
	overflow:hidden;
}
 .blog .BGBottom div,.blog .BGBottom ul {
	padding:5px 10px;
}
.moduletablecategory h3 ,.blog .BgT h3{
	font-size:14px;
	color:#8e000b;
	font-weight:bold;
	margin:13px;
}
.moduletablecategory  .BGMiddle {
	padding-left:18px;
	overflow:hidden;
}
.qcategoriescategory li  {
	float:left;
	width: 30%;
	margin:0px 18px 13px 0;
}
.qcategoriescategory li a {
	float:left;
	display:block;
	text-align:center;
	width:100%;
}
.qcategoriescategory li  .category{


	margin-bottom:5px;
}
.qcategoriescategory li  .category img {
	width:100%;
	height:120px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid white;
}
.qcategoriescategory li a {
	font-weight:bold;
}
.qcategoriescategory li a:hover {
	text-decoration:none;
}

.componentheading,.blog_more div strong,.contentheading {
	font-weight:bold;
	font-size:16px;
	margin-bottom:10px;
	color:#8e000b;
}
.createdate ,.small {
	font-style:italic;
	color:#
}
.article_column img {
	float:left;
	margin-right:5px;
	width:108px;
	height:90px;
}
.category img {
	float:none;
}
.buttonheading img {
	width:16px;
	height:16px;
}

.contentpagetitle {
	font-weight:bold;
}
.pagination {
	margin: 5px;
}
.pagination span,.pagination a{
	padding: 5px;
}
.tel {
padding:5px 0;
	color:#8e000b;
	font-size:16px;
}
.supporter {
	margin:5px 0 0 20px;
}
.supportname {
	display:none;
}
#dm_header {
    height: 75px;
 }
/*footer*/

#footer {
	text-align:center;
	height:90px;
	padding-top:10px;
	background:#eeeeee;
	clear:both;
}

/*_____________________________________________ Start - Projects - jCarouselLiteDemo _____________________________________________*/

#jCarouselLiteDemo .carousel  {
    padding: 10px 0 0 0;
    margin: 0 0 20px 10px;
    position: relative;     
}
    #jCarouselLiteDemo .digg {
        position: absolute;
        left: 610px;
        top: 110px;
    }
    #jCarouselLiteDemo .main {
        margin-left: 40px;
    }

    #jCarouselLiteDemo .demo em {
        color: #FF3300;
        font-weight: bold;
        font-size: 60%;        
        font-style: normal;
    }
    #jCarouselLiteDemo .carousel button { /*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
        float: left;
    }              
    #jCarouselLiteDemo .carousel a.prev, #jCarouselLiteDemo .carousel a.next {
        display: block;
        float: left;
        width: 30px;
        height: 143px;
        text-decoration: none;
        background: url("/image/imageNavLeft.gif") left 60px no-repeat;
    }
        #jCarouselLiteDemo .carousel a.next {
            background: url("/image/imageNavRight.gif") right 60px no-repeat;
        }
            #jCarouselLiteDemo .carousel a.next:hover {
                background-image: url("/image/imageNavRightHover.gif");
            }
            #jCarouselLiteDemo .carousel a.prev:hover {
                background-image: url("/image/imageNavLeftHover.gif");
            }    
            #jCarouselLiteDemo .carousel a:hover, #jCarouselLiteDemo .carousel a:active {
                border: none;
                outline: none;
            }                 
    #jCarouselLiteDemo .carousel .jCarouselLite {
        border: 1px solid black;
        float: left;
        background-color: #dfdfdf;
        
        /* Needed for rendering without flicker */
        position: relative;
        visibility: hidden;
        left: -5000px;
    }
        #jCarouselLiteDemo .carousel ul {
            margin: 0;
        }
        #jCarouselLiteDemo .carousel li img, 
        #jCarouselLiteDemo .carousel li p {
            background-color: #fff;
            width: 150px;
            height: 118px;
            margin: 10px;
        }
        
        #jCarouselLiteDemo .widget img {
            cursor: pointer;
        }
            #jCarouselLiteDemo .mid {
                margin-left: 80px;
                width: 400px;
                height: 300px;
            }
            #jCarouselLiteDemo .vertical {
                margin-left: 170px;
            }
                #jCarouselLiteDemo .vertical .jCarouselLite {   /* so that in IE 6, the carousel div doesnt expand to fill the space */
                    width: 170px;
                }
            #jCarouselLiteDemo .imageSlider li img, 
            #jCarouselLiteDemo .imageSlider li p, 
            #jCarouselLiteDemo .imageSliderExt li img , 
            #jCarouselLiteDemo .imageSliderExt li p {
                width: 400px;
                height: 300px;
            }
            
/*_____________________________________________ End - Projects - jCarouselLiteDemo _____________________________________________*/
.phoneIcon {
		padding-left: 45px;
		background: url("images/phone.png") no-repeat 6px  center;	
	}
	.MainCotent {
		padding: 10px 0px;
	}
	.single .Post {
		padding: 0 10px;
	}
	.category .Post {
		float:left;
		width:45%;
		min-height:255px;
		padding:0px 0px 0px 25px;
	}
	.TopPost h2 {
		margin-bottom: 10px;
	}
	.thumb1 img {
		width:160px;
		height:120px;
		text-align:center;
		border:1px solid #eee;
	}
	.adv {text-align:center;}
	.adv img {width:175px; heiht:195px;margin:5px 0;}
	.relative {width:95%;margin:0 auto;}
	.relatives li {
		float:left;
		height:200px;
		text-align:center;
		width:33%;
	}
	.relatives li a {
		background:none;
		font-weight:bold;
	}.relatives li a:hover{text-decoration:none;}
	.relatives h2 {margin: 0 0 10px 10px;}